<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">ADMIN PANEL</h4>
  <p>You are logged in as admin which means you can browse the data on the website and can edit/delete products.</p>
  <hr>
  <p class="mb-0">Don't be evil.</p>
</div>

<h4>What are people buying the most? See people's carts:</h4>
<div *ngIf="carts$ | async as carts; else loading">
  <ul *ngFor="let cart of carts" class="list-group">
    <div class="card">
      <div class="card-body">
        (anonymous user)
        <div *ngIf="cart.length == 0">
          (cart empty)
        </div>
        <li *ngFor="let cartProduct of cart" class="list-group-item d-flex justify-content-between align-items-center">
          <img src="{{cartProduct.imagePath}}" alt="{{cartProduct.name}}">
          <a class="badge badge-light badge-pill" routerLink="../products/details/{{cartProduct.ownerId}}/{{cartProduct.productId}}">{{cartProduct.name}}</a>
          <!-- Button trigger modal -->
          <!-- <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">
              Remove from cart
          </button> -->
          
        </li>
      </div>
    </div>
  </ul>
</div>
